# Ignore Python bytecode files
__pycache__
*.pyc
*.pyo
*.pyd
*.pdb

# Ignore the local environment files
.env

# Ignore Docker-related files
Dockerfile
docker-compose.yml
*.log

# Ignore version control directories
.git
.gitignore

# Ignore the virtual environment directory
venv
.env

# Ignore data directories
data/

# Ignore other build artifacts
*.tgz
*.zip
*.tar.gz
